/* Toot Toot Learning bundled fonts (Fredoka + Nunito, SIL Open Font License) */
@font-face{font-family:'Fredoka';font-weight:500;src:url(fonts/Fredoka-500.ttf) format('truetype');font-display:swap}
@font-face{font-family:'Fredoka';font-weight:600;src:url(fonts/Fredoka-600.ttf) format('truetype');font-display:swap}
@font-face{font-family:'Fredoka';font-weight:700;src:url(fonts/Fredoka-700.ttf) format('truetype');font-display:swap}
@font-face{font-family:'Nunito';font-weight:600;src:url(fonts/Nunito-600.ttf) format('truetype');font-display:swap}
@font-face{font-family:'Nunito';font-weight:700;src:url(fonts/Nunito-700.ttf) format('truetype');font-display:swap}
@font-face{font-family:'Nunito';font-weight:800;src:url(fonts/Nunito-800.ttf) format('truetype');font-display:swap}
